/* Vera Nijmeijer
   10753567
   Assignment minor Programmeren UvA*/

body {
  background-color: lightblue;
}
h1
{
  color: darkblue;
  font: 30px verdana;
  font-weight: bold;
}
h2 {
  color: darkblue;
  font: 20px verdana;
}
p
{
  font: 12px verdana;
}
.axis {
  font: 10px verdana;
}
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}
.axis_text {
  font: 10px verdana;
  text-anchor: middle;
}
.leg_text {
  font: 10px verdana;
}
.title_scat {
  font: 13px verdana;
  font-weight: bold;
  color: darkblue;
}
.titles {
  font: 13px verdana;
  font-weight: bold;
}
.legend {
  fill: white;
  stroke: #000;
}
